.navbar-title{
    flex-grow: 1;
    align-items: center;
    text-decoration: none;
    display: flex;
  }

  .navbar-image{
      margin-right: 10px;
  }

  .navbar-grow{
      flex-grow: 1;
  }
  .navbar-title-home{
    text-decoration: none;
  }